:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  font-family: 'Times New Roman';
  font-size: 2rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.container {

  /* max-width: 50%; */
  margin: auto;
  overflow: inherit;
  /* padding: 97px 8rem; */
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.bg-dark {
  background-color: #125430 !important;
}
.form-control{
  font-size: 2rem;
}
.nav-link:focus, .nav-link:hover {
  text-decoration: none;
  color:white;
  font-size: 1.25rem;
}
.nav-link:focus, .nav-link {
  text-decoration: none;
  color:white;
  font-size: 1.25rem;
  /* margin-left: 700%; */
}
.w {
  width: 800px;
}
.a-login {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.a-login :hover {
  color: grey;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: white;
  text-decoration: underline;
}
